.DS_Store
data/
data_ignore/
docker-compose.yml
model_paths.pkl
**/__pycache__/
**/.ipynb_checkpoints/
outputs
mlruns/
notebook/001_initial_commit_binary_class.ipynb
notebook/002_CNN_vs_CNN_plus_table.ipynb
notebook/003_datasets.ipynb
input/petfinder-pawpularity-score